<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css" />


    <title>Index</title>
</head>

<body>

<section class="content-header" th:replace="~{navbar::navigationbar}"></section>

    <div class="container mt-4 top-padded">
        <div class="row">
            <div th:each="item: ${items}" class="col-md-6">
                <div class="card cards-container"  style="width: 100%;">
                    <img th:src="'/images/'+${item.image}" class="card-img-top fixed-image" alt="Card Image">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${item.name}"></h5>
                        <p class="card-text card-description" th:text="${item.description}"></p>
                        <a th:href="${'/item/'+item.id}" class="btn btn-primary">Detalji</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
</body>
</html>